<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" accept=" "asp-action="OgrenciKayit"></form>
    <div class="form-group">
        <label for="OgrNo">Ögrenci No</label>
        <input type="text" class="form-control" name="Ad" required placeholder="Öğreci Adı Giriniz">
    </div>

     <div class="form-group">
        <label for="Ad">Ögrenci No</label>
        <input type="text" class="form-control" name="Ad" required placeholder="Öğreci Adı Giriniz">
    </div>

     <div class="form-group">
        <label for="Soyad">Ögrenci No</label>
        <input type="text" class="form-control" name="Soyad" required placeholder="Öğreci SoyAdı Giriniz">
    </div>

     <div class="form-group">
        <label for="Bolum">Ögrenci No</label>
        <input type="text" class="form-control" name="Bolum" required placeholder="Bölüm Giriniz">
    </div>

     <div class="form-group">
        <label for="ePosta">Ögrenci No</label>
        <input type="text" class="form-control" name="ePosta" required placeholder="Eposta Giriniz">
    </div>
    <button type="submit" class="btn btn-primary btn-primary block">Kaydet</button>
</body>
</html>