<form method="post" asp-controller="Bolum" asp-action="BolumKayit">
<div class="form-group">
<label for="dersadi">Bölüm Adı</label>
<input type="text" class="form-control" id="BolumAdi" name="BolumAdi"
placeholder="Bölüm adını giriniz" required>
</div>

<br/>
<button type="submit" class="btn btn-primary btn-block">Kaydet</button>
</form>